<div class="container">
  <div class="parchment">
    <div class="header-container">
      <div class="header-image">
        <img class="image" src="https://cdn0.iconfinder.com/data/icons/party-icons/110/Party-Hat-512.png">
      </div>
      <div class="header-title">
        <h1>Birthday Tracker</h1>
        <h4>Currently tracking {{vm.birthdays.length}} birthdays</h4>
      </div>
    </div>
    <div>
      <uib-tabset>
        <uib-tab index="0" heading="Upcoming">
          <div class="scripture">
            <h3>Birthdays today</h3>
            <div class="birthdays">
              <div class="birthday" ng-show="birthday.isToday" ng-repeat="birthday in vm.birthdays" title="{{birthday.forename}} {{birthday.surname}}'s birthday!">
                <div ng-show="birthday.isSoon">
                  {{birthday.forename}}'s {{birthday.DOB | nthbirthday}}
                </div>
              </div>    
            </div>
            <h3>Birthdays over the next 2 weeks</h3>
              <div class="birthday birthdaySoon" ng-show="birthday.isSoon && !birthday.isToday" ng-repeat="birthday in vm.birthdays" title="{{birthday.forename}} {{birthday.surname}}'s birthday!">
                <div>
                  {{birthday.forename}}'s {{birthday.DOB | nthbirthday}}
                </div>
              </div>    
            </div>   
        </uib-tab>
        
        <uib-tab index="1" heading="All Birthdays">
          <div style="padding: 5px 10px; border-bottom: 1px solid #f8f8f8 ">
            <span>Filter: <input type="text" ng-model="vm.filter" /></span>
          </div>
          <div class="scripture">
            <div ng-repeat="birthday in vm.birthdays" ng-show="birthday.forename.includes(vm.filter)">
              <div>
                  {{birthday.forename}} {{birthday.surname}}  - {{birthday.DOB}}
                <button class="btn btn-failure" ng-click="vm.deleteBirthday(birthday.id)">
                  <i class="icon ion-trash-a"></i>
                </button>
              </div>
            </div>           
          </div>
        </uib-tab>
        <button class="btn btn-primary tab-button" ng-click="vm.newBirthday()">
          <i class="icon ion-plus-round" style="margin-right: 4px;"></i><span class="icon">Add Birthday</span>
        </button>
      </uib-tabset>
    </div>

    
    



  </div>
</div>